{% if loginurl %}
        <a href="{{ loginurl }}"><img src="{{ image_facebook }}" alt="{{ text_facebook }}"></a>
{% endif %}

{% if authUrl %}
        <a href="{{ authUrl }}"><img src="{{ image_google }}" alt="{{ text_google }}"></a>
{% endif %}
