{{ header }}{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">

            <div class="form-inline pull-right">
             <button id="save_and_stay" data-toggle="tooltip" title="{{ button_save_and_stay }}" class="btn btn-success"><i class="fa fa-save"></i></button>
             <button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
             <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
         </div>

         <h1>{{ heading_title }} {{ version }}</h1>
         <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="container-fluid">
    {% if not pro %}
        <div class="notify alert alert-info">{{text_pro}}</div>
    {% endif %}
    {% if (error_warning) %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if d_shopunity %}
        <div class="d_shopunity_update"></div>
        <script src="view/javascript/d_shopunity/d_shopunity_widget.js" type="text/javascript"></script>
        <script type="text/javascript">
            var d_shopunity_update = jQuery.extend(true, {}, d_shopunity_widget);
            d_shopunity_update.init({
                class: '.d_shopunity_update',
                token: '{{token}}',
                extension_id: 'd_ajax_search',
                action: 'loadUpdate'
            })
        </script>
        {% if pro %}
            <script type="text/javascript">
                var d_shopunity_update_pro = jQuery.extend(true, {}, d_shopunity_widget);
                d_shopunity_update_pro.init({
                class: '.d_shopunity_update',
                token: '{{token}}',
                extension_id: 'd_ajax_search_pro',
                action: 'loadUpdate'
                })
            </script>
        {% endif %}
    {% endif %}

    {% if not pro and setup and d_shopunity %}
        <div class="row">
            <div class="col-md-9">
    {% endif %}

    <div class="panel panel-default panel-resizable">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
        </div>

        <div class="panel-body">
            {% if setup %}
                <ul class="nav nav-tabs">
                    <li  class="active"><a href="#tab_setting" data-toggle="tab">
                    <span class="fa fa-cog"></span>
                    {{ text_settings }}
                    </a></li>
                     <li><a href="#tab_main" data-toggle="tab">
                        <span class="fa fa-wrench"></span>
                        {{ main_settings }}Custom Settings
                    </a></li>
                    <li><a href="#tab_design" data-toggle="tab">
                        <span class="fa fa-picture-o"></span>
                        Design
                    </a></li>
                    {% if pro %}
                    <li><a href="#tab_analytics" data-toggle="tab">
                        <span class="fa fa-line-chart"></span>
                        Analytics
                    </a></li>
                    <li><a href="#tab_history" data-toggle="tab">
                        <span class="fa fa-history"></span>
                        History & Redirects
                    </a></li>
                    {% endif %}
                    <li><a href="#tab_instruction" data-toggle="tab">
                        <span class="fa fa-graduation-cap"></span>
                        {{ text_instructions }}
                    </a></li>
                </ul>
                <form id="form" action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
                    <div class="tab-content">
                        
                        <div class="tab-pane active" id="tab_setting">
                            <div class="tab-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-status">
                                        {{ entry_status }}
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="hidden" value="0" name="{{ codename }}_status"/>
                                        <input type="checkbox" value="1" name="{{ codename }}_status" {{ d_ajax_search_status ? 'checked="checked"' : '' }} id="input-status" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-class"><span data-toggle="tooltip" title="{{ help_class }}">{{ entry_class }}</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="{{ codename }}_setting[class]" value="{{ setting['class'] }}"  class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-max-symbols"><span data-toggle="tooltip" title="{{ help_max_symbols }}">{{ entry_max_symbols }}</span></label>
                                    <div class="col-sm-10">
                                        <input name="{{ codename }}_setting[max_symbols]" value="{{ setting['max_symbols'] }}" class="form-control">
                                    </div>
                                </div>
                                {% if pro %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-smart-search"><span data-toggle="tooltip" title="{{ tooltip_smart_search }}">Smart search</span></label>
                                        <div class="col-sm-10">
                                            <input type="hidden" name="{{ codename }}_setting[smart]" value="0" />
                                            <input type="checkbox" name="{{ codename }}_setting[smart]" {{ setting['smart'] ? 'checked="checked"' : '' }} value="1" class="switcher"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-max-sugg-and-auto"><span data-toggle="tooltip" title="{{ tooltip_suggestion }}">Suggestion</span></label>
                                        <div class="col-sm-10">
                                            <input type="hidden" name="{{ codename }}_setting[suggestion]" value="0" />
                                            <input type="checkbox" name="{{ codename }}_setting[suggestion]" {{ setting['suggestion'] ? 'checked="checked"' : '' }} value="1" class="switcher"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-max-sugg-and-auto"><span data-toggle="tooltip" title="{{ tooltip_autocomplete }}">Autocomplete</span></label>
                                        <div class="col-sm-10">
                                            <input type="hidden" name="{{ codename }}_setting[autocomplete]" value="0" />
                                            <input type="checkbox" name="{{ codename }}_setting[autocomplete]" {{ setting['autocomplete'] ? 'checked="checked"' : '' }} value="1" class="switcher"/>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_main">
                            <div class="tab-body">
                                <div class="form-group">
                                    <div class="table-responsive col-sm-12">
                                        <table class="table table-bordered table-hover control-elements">
                                            <thead>
                                                <tr class="fields">
                                                    <td class="field">
                                                        <h4 class="m-b-none"><span class="fa fa-sort-amount-asc"></span> {{priority_search}} <span class="info-window-item" data-href="https://dreamvention.ee/setup-live-ajax-search-blocks"><i class="fa fa-question info-load"></i></span></h4>
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody class="control-elements">
                                                <tr class="control-element">
                                                    <td class="field">
                                                        <div class="col-sm-12">
                                                            <div id="extensions">
                                                            {% for extension in extensions %}
                                                                <div class="sort-item {{ extension['id'] }}" data-sort-order="{{ extension['sort_order'] }}">
                                                                    <span>
                                                                        <input type="hidden" name="{{ codename }}_setting[extension][{{ extension['id'] }}][sort_order]" class="sort-value" value="{{ extension['sort_order'] }}" />
                                                                        <span class="drag-handle"><i class="fa fa-bars"></i></span>
                                                                    </span>
                                                                    <span class="extension">
                                                                        <input type="hidden" name="{{ codename }}_setting[extension][{{ extension['id'] }}][enabled]" value="0" />
                                                                        <input type="checkbox" name="{{ codename }}_setting[extension][{{ extension['id'] }}][enabled]" {{ extension['enabled'] ? 'checked="checked"' : '' }} value="1" id="{{ codename }}_module_item_{{ extension['id'] }}_enabled" />
                                                                        <label onclick="check('{{ extension['id'] }}')" for="{{ codename }}extension_{{ extension['id'] }}_enabled">Edit {{ extension['id']|capitalize|replace ({'_':' '}) }} <i class="fa fa-caret-down"></i></label>
                                                                        <div class="pull-right form-inline">
                                                                        <label class="control-label lable_max_count" for="{{ codename }}_setting[max_symbols]"><span data-toggle="tooltip" title="Number of items in result of {{ extension['id']|capitalize|replace ({'_':' '}) }}">Count in results</span></label>
                                                                        <input name="{{ codename }}_setting[extension][{{ extension['id'] }}][max_count]" value="{{ extension['max_count'] }}" class="form-control">
                                                                        </div>
                                                                    </span>
                                                                    <div class="more-details form-group {{ extension['id'] }}_settings hidden_settings">
                                                                        {% for key, extension_ in extension['query'] %}
                                                                        <div class="col-sm-4 marbot">
                                                                            <input type="hidden" name="{{ codename }}_setting[extension][{{ extension['id'] }}][query][{{key}}]" value="0" />
                                                                            <input type="checkbox" name="{{ codename }}_setting[extension][{{ extension['id'] }}][query][{{key}}]" {{ extension_['status'] ? 'checked="checked"' : '' }} value="1" class="form-control">
                                                                            <label class=" control-label" for="input-{{ extension['id'] }}-query-{{key}}"><span data-toggle="tooltip" title="{{ extension_['tooltip'] }}">{{key}}</span></label>
                                                                        </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            {% endfor %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_design">
                            <div class="tab-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-price">{{ entry_price }}</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" name="{{ codename }}_setting[price]" value="0" />
                                        <input type="checkbox" name="{{ codename }}_setting[price]" {{ setting['price'] ? 'checked="checked"' : '' }} value="1" class="switcher"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-where_search">{{where_was_found}}</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" name="{{ codename }}_setting[where_search]" value="0" />
                                        <input type="checkbox" name="{{ codename }}_setting[where_search]" {{ setting['where_search'] ? 'checked="checked"' : '' }} value="1" class="switcher"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-width"><span data-toggle="tooltip" title="{{ help_width }}">{{ entry_width }}</span></label>
                                            <div class="col-sm-10">
                                                <input name="{{ codename }}_setting[width]" value="{{ setting['width'] }}" class="form-control">
                                            </div>
                                        </div>
                                <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-max-results"><span data-toggle="tooltip" title="{{ help_max_results }}">{{ entry_max_results }}</span></label>
                                            <div class="col-sm-10">
                                                <input name="{{ codename }}_setting[max_results]" value="{{ setting['max_results'] }}" class="form-control">
                                            </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-block_result">{{display_results_in_block}}</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" name="{{ codename }}_setting[block_result]" value="0" />
                                        <input type="checkbox" name="{{ codename }}_setting[block_result]" {{ setting['block_result'] ? 'checked="checked"' : '' }} value="1" class="switcher"/>
                                    </div>
                                </div>
                                 {% if pro %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-no_dublicate_images">{{display_unic_image}}</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" name="{{ codename }}_setting[no_dublicate_images]" value="0" />
                                        <input type="checkbox" name="{{ codename }}_setting[no_dublicate_images]" {{ setting['no_dublicate_images'] ? 'checked="checked"' : '' }} value="1" class="switcher"/>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input_text">{{result_image_size}}</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">Width</span>
                                            <input name="{{ codename }}_setting[image_width]" value="{{ setting['image_width'] }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">Height</span>
                                            <input name="{{ codename }}_setting[image_height]" value="{{ setting['image_height'] }}" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input_text">{{show_more_results_link}}</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                             <input type="hidden" name="{{ codename }}_setting[all_result_status]" value="0" />
                                            <input type="checkbox" name="{{ codename }}_setting[all_result_status]" {{ setting['all_result_status'] ? 'checked="checked"' : '' }} value="1" class="switcher"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-max-symbols"><span data-toggle="tooltip" title="for more results">Number of displayed results</span></label>
                                    <div class="col-sm-2">
                                        <input name="{{ codename }}_setting[all_result_count]" value="{{ setting['all_result_count'] }}" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_analytics">
                            <div class="tab-body">
                                <div class="first_chart">
                                    <ul class="nav nav-pills">
                                        <li class="active" >
                                            <a id="first_load" class='choose-hour' href="{{ hour }}"><span>{{text_24hour}}</span></a>
                                        </li>
                                        <li class="" >
                                            <a class='choose-hour' href="{{ week }}"><span>{{text_week}}</span></a>
                                        </li>
                                        <li class="" >
                                            <a class='choose-hour' href="{{ mounth }}"><span>{{text_month}}</span></a>
                                        </li>
                                        <li class="" >
                                            <a class='choose-hour' href="{{ year }}"><span>{{text_year}}</span></a>
                                        </li>
                                    </ul>
                                </div>

                                <div id="table_analytics">

                                    <div id="chartContainer" class="col-sm-6">
                                        <canvas id="myChart" width="200" height="100"></canvas>
                                    </div>
                                    <div id="chartContainer2" class="second_chart col-sm-6">
                                        <canvas id="myChart2" width="200" height="100"></canvas>
                                    </div>
                                    <div class="row">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_history">
                            <div class="panel-body">
                                <div class="well">
                                    <form method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
                                    <div class="row">
                                        <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-max-results">{{filter_keyword}}</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="filter_name" value="" placeholder="keyword" id="input-name" class="form-control" />
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" id="button-filter" class="btn btn-primary "><i class="fa fa-filter"></i>Filter</button>
                                            <div class="filter_inst info-window-item" data-href="https://dreamvention.ee/live-ajax-search-history-smart-search"><i class="fa fa-question info-load"></i></div>
                                        </div>
                                    </div>
                                    </div>
                                    </form>
                                </div>
                                <div id="table_history">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <td>Keyword</td>
                                                    <td>Suggestions</td>
                                                    <td>Selection</td>
                                                    <td>Views</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if histories %}
                                                    {% for history in histories %}
                                                    <tr>
                                                        <td class="text-center hidden">
                                                            <input type="text" name="settings[history][query_results_id]" value="{{history['query_id']}}" class="form-control">
                                                        </td>
                                                        <td class="text-center">
                                                            <div type="text" name="settings[history][text]" value="{{history['keyword']}}">{{history['keyword']}}</div>
                                                        </td>
                                                        <td class="redirect-cell text-left">
                                                            <div id="redirect_{{history['query_id']}}"  class="redirect-field" redirect_query_id="{{history['query_id']}}">
                                                                <span class="text-field">{{history['redirect']}}</span>
                                                                <input type="text" value="{{history['redirect']}}" class="input-field form-control hide" />
                                                            </div>
                                                        </td>
                                                        <td class="text-left">
                                                            <a href="{{history['href']}}"><img src="{{history['image']}}" alt="">{{history['name']}}</a>
                                                        </td>
                                                        <td class="text-center">
                                                            <div type="text" name="settings[history][hits]" value="{{history['count']}}" >{{history['count']}}</div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                {% else %}
                                                <tr><td class="text-center" colspan="8">No results!</td></tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row m-t-lg m-b-lg">
                                        <div class="col-sm-6 text-left">{{ pagination }}</div>
                                        <div class="col-sm-6 text-right">{{ results }}</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane" id="tab_instruction">
                            <div class="tab-body">{{ text_instructions_full }}</div>
                        </div>
                    </div>
                </form>
            {% else %}
                {{text_setup}}
            {% endif %}
        </div>
    </div>

    {% if not pro and setup and d_shopunity %}
            </div>

            <div class="col-md-3">
                <div class="d_shopunity_widget"></div>
                <script src="view/javascript/d_shopunity/d_shopunity_widget.js" type="text/javascript"></script>
                <script type="text/javascript">
                var d_shopunity_widget = jQuery.extend(true, {}, d_shopunity_widget);
                d_shopunity_widget.init({
                class: '.d_shopunity_widget',
                token: '{{token}}',
                extension_id: 'd_ajax_search_pro'
                })
                </script>
            </div>
        </div>
    {% endif %}

    <div class="info-window">
        <div class="info-window-wrap">
            <div class="info-window-block">
                <div class="info-window-close"><i class="fa fa-close"></i></div>
                <div class="info-window-description"></div>
            </div>
        </div>
    </div>
</div>
{% if not setup %}
<script type="text/javascript">
    $(document).on('click', '.setup', function(){
        window.location.href = '{{setup_link}}';
    });
</script>
{% else %}
<script type="text/javascript">
//General
function showAlert(json) {
    return;
    $('.alert, .text-danger').remove();
    $('.form-group').removeClass('has-error');

    if (json['error']) {
        if (json['error']['warning']) {
            $('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        }

        for (i in json['error']) {
            var element = $('#input_' + i);

            if (element.parent().hasClass('input-group')) {
                $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
            } else {
                $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
            }
        }

        $('.text-danger').parentsUntil('.form-group').parent().addClass('has-error');
    }

    if (json['success']) {
        $('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }
};

$("[type='checkbox']").bootstrapSwitch({
    'onColor': 'success',
    'onText': '{{ text_on }}',
    'offText': '{{ text_off }}',
});

$('body').on('click', '#save_and_stay', function(){
    $.ajax( {
        type: 'post',
        url: $('#form').attr('action'),
        data: $('#form').serialize(),
        dataType: 'json',
        beforeSend: function() {
            $('#content').fadeTo('slow', 0.5);
        },
        complete: function() {
            $('#content').fadeTo('slow', 1);
        },
        success: function(json) {
            showAlert(json);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

//info window 
var info_window = {
    'item' : new Array(),
    'current_url' : ''
}

$.each($('.info-window-item'), function(key, value) {
    var url = $(this).attr('data-href');

    if (url) {
        $.getJSON(url + '?format=json&callback=?', function(data) {
            info_window.item[url] = data['description'];
        });
    }
});

$('.info-window-item').on('click', function() {
    var url = $(this).attr('data-href');

    if (url == info_window.current_url) {
        info_window.current_url = '';
        $('.info-window').removeClass('resized');
        $('.panel-resizable').removeClass('resized');
    } else {
        info_window.current_url = url;
        $('.info-window .info-window-description').html(info_window.item[url]);
        $('.panel-resizable').addClass('resized');
        $('.info-window').addClass('resized');
    }
});

$('.info-window .info-window-close').on('click', function() {
    info_window.current_url = '';
    $('.info-window').removeClass('resized');
    $('.panel-resizable').removeClass('resized');
});

//extensions
$('#extensions > .sort-item').tsort({attr:'data-sort-order'});

Sortable.create(extensions, {
    group: "sorting",
    sort: true,
    animation: 150,
    handle: ".drag-handle",
    onUpdate: function (event){
        $('#extensions').find('.sort-item').each(function (i, row) {
            $(row).find('.sort-value').val(i)
        })
    }
});

//instructions 
$(function(){
    var url_inst = 'https://dreamvention.ee/instructions-quick-search';

    $.getJSON(url_inst + '?format=json&callback=?', function(data) {
        $('.instruction').html(data['description']);
    });
})

//Analytics
$(document).on('click', '.choose-hour', function(ev) {
    $('#tab_analytics li').removeClass('active')
    $(ev.currentTarget).parent().addClass('active')
    var url=$(ev.currentTarget).attr('href');


     $.ajax( {
        type: 'post',
        url: url,
        data: $('#form').serialize(),
        dataType: 'json',
        beforeSend: function() {
            // $('#content').fadeTo('slow', 0.5);
        },
        complete: function() {
            // $('#content').fadeTo('slow', 1);
        },
        success: function(json) {

       drawAnalyticsTab(json);

        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });

    return false;
});

$('#first_load').click();

//History
$('#button-filter').on('click', function() {
    var url = 'index.php?route=extension/module/d_ajax_search&{{url_token}}';

    var filter_name = $('input[name=\'filter_name\']').val();

    if (filter_name) {
        url += '&filter_name=' + encodeURIComponent(filter_name);
    }

    location = url;
});

$(document).on('click', '.pagination li a', function(ev) {
    $('#table_history').load(ev.currentTarget.href+' #table_history > div')
    // $(ev.currentTarget.href).
    return false;
});

$('body').on('click', '.redirect-cell', function() {
    var redirect = $(this).children('.redirect-field');

    if ($(redirect).children('.input-field').hasClass('hide') && ($(redirect).children('.input-field').attr('type') != 'hidden')) {
        $('.popover').popover('hide', function() {
            $('.popover').remove();
        });

        $('.text-field').removeClass('hide');
        $('.input-field').addClass('hide');

        $(redirect).popover({
            html: true,
            placement: 'top',
            trigger: 'manual',
            content: function() {
                return '<button type="button" id="button_save" class="btn btn-primary" redirect_field_id="' + redirect.attr('id') + '"><i class="fa fa-save"></i></button> <button type="button" id="button_cancel" class="btn btn-danger" redirect_field_id="' + redirect.attr('id') + '"><i class="fa fa-remove"></i></button>';
            }
        });

        $(redirect).popover('show');

        $(redirect).children('.text-field').addClass('hide');
        $(redirect).children('.input-field').removeClass('hide');
    }
});

$('body').on('click', '#button_save', function() {
    var redirect = $('#' + $(this).attr('redirect_field_id'));
    var query_redirect_id = $(redirect).attr('redirect_query_id');
    var value = $(redirect).children('.input-field').val();
    $.ajax({
        url: '{{redirect}}',
        type: 'post',
        data: 'query_id=' + query_redirect_id + '&value=' + (value),
        dataType: 'json',
        success: function(json) {
            showAlert(json);

            $(redirect).popover('hide', function() {
                $('.popover').remove();
            });

            setTimeout(function() {
                if (json['error'] != 'error') {
                    $(redirect).children('.input-field').val(json['value']);
                    $(redirect).children('.text-field').text(json['value']);
                } else {
                    $(redirect).children('.input-field').val($(redirect).children('.text-field').text());
                }

                $(redirect).children('.text-field').removeClass('hide');
                $(redirect).children('.input-field').addClass('hide');
            }, 200);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$('body').on('click', '#button_cancel', function() {
    var redirect = $('#' + $(this).attr('redirect_field_id'));

    $(redirect).popover('hide', function() {
        $('.popover').remove();
    });

    setTimeout(function() {
        $(redirect).children('.input-field').val($(redirect).children('.text-field').text());
        $(redirect).children('.text-field').removeClass('hide');
        $(redirect).children('.input-field').addClass('hide');
    }, 200);
});

function drawAnalyticsTab(json){
     document.getElementById("chartContainer").innerHTML='<canvas id="myChart" width="200" height="100"></canvas>';
        document.getElementById("chartContainer2").innerHTML='<canvas id="myChart2" width="200" height="100"></canvas>';
        $('.right-table').remove();
        $('.left-table').remove();
        if(json.statistic.table_statistic.length > 0){
            var i,k;
                    html='<div class="col-sm-6 right-table">'
                        html +='<div id="table_viewed">'
                            html +='<div class="table-responsive">'
                                html +='<table class="table table-bordered table-hover">'
                                    html +='<thead>'
                                        html +='<tr>'
                                         html +='<td>#</td>'
                                            html +='<td>results</td>'
                                            html += '<td>type</td>'
                                            html +='<td>Views</td>'
                                        html +='</tr>'
                                    html +='</thead>'
                                    html +='<tbody>'
                                       for(i=0; i < json.statistic.table_statistic.length; i++){
                                           html +='<tr>'
                                           html +='<td>'+ (i+1) +'</td>'
                                           html +='<td><a href="'+json.statistic.table_statistic[i].href +'">'+ json.statistic.table_statistic[i].select +'</a></td>'
                                           html +='<td>'+ json.statistic.table_statistic[i].type +'</td>'
                                           html +='<td>'+ json.statistic.table_statistic[i].count +'</td>'
                                           html +='</tr>'
                                       }
                                    html +='</tbody>'
                                html +='</table>'
                            html +='</div>'
                        html +='</div>'
                    html +='</div>'
                    html +='<div class="col-sm-6 left-table">'
                        html +='<div id="table_viewed">'
                            html +='<div class="table-responsive">'
                                html +='<table class="table table-bordered table-hover">'
                                    html +='<thead>'
                                        html +='<tr>'
                                            html +='<td>keyword</td>'
                                            html +='<td>searches</td>'
                                        html +='</tr>'
                                    html +='</thead>'
                                    html +='<tbody>'
                                       for(k=0; k < json.top_searches.table_searches.length; k++){
                                           html +='<tr>'
                                           html +='<td>'+ json.top_searches.table_searches[k].text +'</td>'
                                           html +='<td>'+ json.top_searches.table_searches[k].count +'</td>'
                                           html +='</tr>'
                                       }
                                    html +='</tbody>'
                                html +='</table>'
                            html +='</div>'
                        html +='</div>'
                    html +='</div>'
        $('#table_analytics > div.row').after(html);
        }
            var ctx1 = document.getElementById("myChart").getContext('2d');
            var myChart1 = new Chart(ctx1, {
            type: 'bar',
            data: json.statistic,
            options: {
                title: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                            }
                        }]
                    }
                }
            });

            var ctx2 = document.getElementById("myChart2").getContext('2d');
            var myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: json.top_searches,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
}

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
function check(data){
    var classList = $('.'+data+'_settings').attr('class').split(/\s+/);
    $.each(classList, function(index, item) {
        if (item === 'hidden_settings' || item === 'hidden') {
            $('.'+data+'_settings').slideDown(500).removeClass('hidden_settings');
            $("label[for='d_ajax_searchextension_"+data+"_enabled'] > i").removeClass('fa-caret-down');
            $("label[for='d_ajax_searchextension_"+data+"_enabled'] > i").addClass('fa-caret-up');
        }else{
            $('.'+data+'_settings').slideUp(500).addClass('hidden_settings');
            $("label[for='d_ajax_searchextension_"+data+"_enabled'] > i").removeClass('fa-caret-up');
            $("label[for='d_ajax_searchextension_"+data+"_enabled'] > i").addClass('fa-caret-down');
        }
    });

}
</script>
{% endif %}
{{ footer }}